<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Read The Room</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    </head>
    <body>
        <div>
            <div id="chat-window">
                <div id="output">

                </div>
            </div>
            <input id="username" type="hidden" value={{this.username}} />
            <input id="message" type="text" placeholder="Message"/>
            <button id="sendMessage" class="btn btn-primary">Send</button>
        </div>
        <h1>Socket.io Created!</h1>
        <script src="/connectUser.js"></script>
    </body>
</htm>