.userTitle {
    background-color: rgb(133, 133, 133);
    text-align: left;
    padding: 20px;
    color: white;
    background-color: rgba(27, 27, 27, 0.842);
}

p {
    word-break: break-all;
    white-space: normal;
}